body{
    margin:0px;
    background: #222;
    position: relative;
}
*{box-sizing: border-box;}
canvas{
    width: 100%;
    /* display: none; */
    position: absolute;
    top:0;
    left:0;    
}
#banner{
    display: none;
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    padding:50px 25px 20px 25px; 
}
#bannerInfo > .score{
    color:aqua;
    display: block;
    text-align: center;
    padding: 20px;
    margin-bottom:10px;
    font-size:1.1rem;
    line-height: 1.8rem;
}
#banner > button{
    background: linear-gradient(to top right,salmon,hotpink);
    box-shadow: 0px 0px 10px salmon,0px 0px 20px hotpink;
    border:none;
    font-size:1.1rem;
    margin-left:50%;
    transform: translateX(-50%);
    color:#fff;
    padding:10px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#loadStatus{
    text-shadow: none;
    display: block;
    position:fixed;
    bottom:-150px;
    left:0px;
    max-height: 140px;
    font-size:0.8rem;
    color:aquamarine;
}
#loader{
    display: block;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:white;
    /* text-shadow:1px 1px 2px #000,-1px -1px 2px #555,0px 0px 55px brown,0px 0px 85px red; */
    font-size: 2rem;
    background:#2a2a2a;
    padding:25px;
    padding-bottom:100px;
    border-radius:10px;
    box-shadow: 2px 2px 4px #555,-2px -2px 4px #000,inset 2px 2px 6px #555,inset -2px -2px 6px #000;
}
#loader::before{
    content: "";
    display: block;
    position: absolute;
    bottom:5px;
    left:50%;
    width:50px;
    height:50px;
    transform:translate(-50%,-50%);
    border:4px solid #aaa;
    border-right-color: transparent;
    border-radius: 100%;
    animation:cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s spin infinite;
}
@keyframes spin{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
h1{
    margin-top:0px;
    margin-bottom: 45px;
    color:#fff;
    text-align: center;
    position: relative;
}
h1::before{
    content:"";
    display: block;
    width:50%;
    max-width: 350px;
    height:4px;
    border-radius:100%;
    left:50%;
    bottom:-8px;
    transform: translate(-50%,-50%);
    position: absolute;
    background: linear-gradient(to left,salmon,hotpink);
}
h3{
    color:#fff;
    margin:20px 0px;
}
h3:before{
    content:"";
    display: inline-block;
    margin-right:8px;
    border-radius:100%;
    width:10px;
    height:10px;
    box-shadow: 0px 0px 10px salmon,0px 0px 20px hotpink;
    background: linear-gradient(to top right,salmon,hotpink);
}
small{
    color:#aaa;
    font-size:0.8rem;
}
a{
    text-decoration: none;
}